@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaBold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaLight.otf');
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.html, body {
    height: 100%;
    margin: 0;
    font-family: ProximaNova;
    font-size: 10pt;
}

.container {
    display: flex;
    flex-direction: column;
}



/* ------------------------------------------- *\
    HEADER
\* ------------------------------------------- */

.header {
    display: flex;
    justify-content: flex-end;
    flex-basis: 45px;
    background-color: #2f364a;
}

.v-menu {
    display: flex;
    justify-content: flex-end;
    height: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.v-menu__item {
    padding: 15px;
    color: #78829d;
    cursor: pointer;
}

.v-menu__item:hover {
    background-color: #15a4fa;
    color: #fff;
}

.v-menu__link {
    color: #78829d;
    text-decoration: none;
}

.v-menu__item:hover .v-menu__link {
    color: #fff;
}

.v-menu__avatar {
    float: left;
    position: relative;
    top: -8px;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 15px;
    border: 2px solid #78829d;
    background-size: cover;
    background-position: center;
}

.v-menu__item:hover .v-menu__avatar {
    border: 2px solid #fff;
}

.account__shevron-down {
    width: 12px;
    height: 12px;
    margin-left: 10px;
    padding: 0.3em;
    border-radius: 6px;
    font-size: 5pt;
    background-color: #78829d;
    color: #2f364a;
}

.account:hover .account__shevron-down {
    background-color: #fff;
    color: #15a4fa;
}



.main {
    display: flex;
    height: calc(100vh - 90px);
}



/* ------------------------------------------- *\
    ASIDE NAVI
\* ------------------------------------------- */

.aside {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;    /* очень спорное решение */
    justify-content: space-between;
    background-color: #19202e;
}

.aside-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    background-color: #1f2637;
    border-top: 1px solid #273044;
    border-bottom: 1px solid #191f2e;    
}

.aside-block:first-child {
    border-top: 0;
}

.aside-block:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.aside-block-general {
    padding: 30px 20px;
}

.aside-block-nav {
    display: block;    /* если flex, то елементы не растягиваются на всю ширину */
    padding: 20px 0;
}

.add-item-button {
    width: 100%;
    min-height: 44px;
    margin: auto;
    padding: 0 15px;
    border: 0;
    border-radius: 4px;    
    background-color: #f2795a;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;    
    transform: scaleY(0.9);
    cursor: pointer;
}

.add-item-button:hover {
    background-color: #ec9f8c;
}

.nav {
    display: flex;    /* flex - для растягивания элементов на всю ширину */
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {    
    height: 38px;
    padding: 12px 20px;
    cursor: pointer;
}

.nav__item:hover {
    background-color: #15a4fa;
}

.nav__link {
    color: #78829d;
    text-decoration: none;
}

.nav__item:hover .nav__link {
    color: #fff;
}

.nav__dot {
    transform: scale(0.4, 0.4);
}

.nav__dot--color1 {
    color: #e64c66;
}

.nav__dot--color2 {
    color: #ffab00;
}

.nav__dot--color3 {
    color: #02b5d2;
}

.nav__dot--color4 {
    color: #7874cf;
}

.history-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #41495e;
    font-size: 9pt;
    font-weight: 100;
}

.history-block__icon {
    margin-right: 10px;
    color: #78829d;
    font-size: 12pt;    
}

.history-block__event {
    margin-bottom: 10px;
}

.history-block__text-highlight {
    font-weight: 400;
    color: #78829d;
}



/* ------------------------------------------- *\
    SECTION
\* ------------------------------------------- */


.section {
    
}

.footer {
    flex-basis: 45px;
    background-color: #181e2c;
}
