* {
	margin: 10px;
}

.div-class {
	width: 30%;
	padding: 10px;
	background-color: #ccc;	
}

.p-class {
	padding: 10px;
	background-color: #9966cc;
}

#source {
	background-color: #dd8866;
}

div > p {
	margin: 10px 0 10px;
}

button {
	padding: 6px 10px;
}