body {
    font-family: arial;
    font-size: 11pt;
}

.table-striped {
    color: #666;
}

.table-striped tr:nth-child(even) {
    background-color: #F2F6FA;
}

.table-striped tr:nth-child(odd) {
    background-color: #E8EDF4;
}

.table-striped tr:hover:not(:first-child) {
    background-color: #E2E5E9;
}

.table-striped th {
    text-align: center;
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: bolder;
    padding: 6px 0;
    background-color: #E8EDF4;    
}

.table-striped td {
    text-align: left;
    padding: 19px 18px;
}

.table-striped td:first-child {
    text-transform: capitalize;
}